.parent {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  height: 100px;
}
.left {
  width: 50%;
  grid-area: 1 / 1 / 6 / 2;
}
.right {
  white-space: pre-line;
  background-color: lightgray;
  grid-area: 1 / 2 / 6 / 3;
}
